body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: lightblue;
    margin: 0 auto;
    width: 350px;
    height: 250px;
}

.container .content a {
    text-decoration: none;
}